
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  display: block;
  min-width: 1000px;
  max-width: 1200px;
  margin: 0px auto;
}

/*----------------------------LOGO--------------------------------*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #C0C0C0;
}

.logo {
  font-size: 23px;
  margin-left: 20px;
}

nav ul {
  display: -webkit-flex;
  display: flex;
  list-style-type: none;
  width: 700px;
 }

nav ul li {
  margin: 0 8px;
  padding: 8px 11px;
  background: DodgerBlue;
  border-radius: 5px;
}

nav ul li a {
  color: #fff;
  font-size: 25px;
  text-decoration: none;
}

nav ul li:hover {
  background: DeepSkyBlue;
}

/*----------------------------CENT--------------------------------*/
.cent {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.flexx {
  display: flex;
  flex-direction: row;
}

/*----------------------------NAV2--------------------------------*/

.nav2 {
  margin-top: 50px;
  margin-right: 5px;
  width: 140px;
  height: 160px;
}

.nav2 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav2 ul li {
  margin-bottom: 5px;
  background: DodgerBlue;
  border-radius: 5px;
}

.nav2 ul li a {
  display: flex;
  color: #fff;
  font-size: 25px;
  text-decoration: none;
  padding: 10px;

}

.nav2 ul li:hover {
  background: DeepSkyBlue;
}


/*----------------TXT---------------*/

.txt {
  background-color: #DCDCDC;
  padding: 15px;
}

.txt p {
  padding: 0;
  margin: 0;
}

/*----------------------------FOOTER--------------------------------*/

.footer {
  background-color: #999;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*---------------------NAVFOOT*/
.navfoot {
 padding: 10px;

}

.navfoot ul {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navfoot ul li {
  margin: 1px;
}

.navfoot li + li {
  border-left: 2px solid #fff;
}

.navfoot ul li a {
  display: block;
  color: #fff;
  text-align: center;
  font-size: 25px;
  text-decoration: none;
  padding: 3px 18px;
}

.navfoot ul li:hover {
  text-decoration: underline;
}

.centandimg {
  display: flex;
  flex-direction: row;
}

.side {
  margin-top: 40px;
  margin-left: 25px;
}

.imgr {
  width: 220px;
  height: 160px;
}
.imgr:nth-child(2) {
  margin-top: 28px;
  margin-bottom: 28px;
}

img {
  text-align: center;
}
