* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  display: block;
  width: 1210px;
  margin: 0 auto;
}

/*----------------------------LOGO--------------------------------*/
header {
  width: 1200px;
  height: 80px;
  margin: 0 auto;
  border-bottom: 1px solid #C0C0C0;
}

.logo {
  display: inline-block;
  margin: 27px 20px;
  font-size: 23px;
}

nav {
  display: inline;
}

nav ul {
  list-style-type: none;
  margin: 18 auto;
  width: 700px;
  float: right;
}

nav ul li {
  float: left;
  margin: 0 8px;
  padding: 8px 11px;
  background: DodgerBlue;
  border-radius: 5px;
}

nav ul li a {
  display: block;
  color: white;
  font-size: 25px;
  text-decoration: none;
}

nav ul li:hover {
  background: DeepSkyBlue;
}


/*----------------------------NAV2--------------------------------*/
.nav2 {
  margin-top:90px;
  margin-right: 5px;
  width: 140px;
  height: 160px;
  float: left;
}

.nav2 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav2 ul li {
  margin-bottom: 5px;
  background: DodgerBlue;
  border-radius: 5px;
}

.nav2 ul li a {
  display: block;
  color: white;
  font-size: 25px;
  text-decoration: none;
  padding: 10px;
}

.nav2 ul li:hover {
  background: DeepSkyBlue;
}

.txt {
  width: 815px;
  background-color: #DCDCDC;
  padding: 15px;
  margin-top: 40px;
  float: left;
}
.txt p {
  padding: 0;
  margin: 0;
}

/*----------------------------FOOTER--------------------------------*/
.footer {
  background-color: #999;
  width: 960px;
  height: 70px;
  margin-top: 20px;
  float: left;
  clear: left;
}

/*---------------------NAVFOOT*/
.navfoot {
  width: 700px;
  height: 40px;
  margin: 17px auto 0 auto;
}

.navfoot ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navfoot ul li {
  float: left;
  margin: 1px;
}

.navfoot li + li {
  border-left: 2px solid #fff;
}

.navfoot ul li a {
  display: block;
  color: #fff;
  text-align: center;
  font-size: 25px;
  text-decoration: none;
  padding: 3px 18px;
}

.navfoot ul li:hover {
  text-decoration: underline;
}

.side {
  height: 540px;
  margin-top: 40px;
}

.imgr {
  width: 220px;
  height: 160px;
  margin-left: 25px;
}

.imgr:nth-child(2) {
  margin-top: 28px;
  margin-bottom: 28px;
}

img {
  text-align: center;
}
