body {
  font: normal 12px/18px Arial, Helvetica, sans-serif;
  background-color: #ddbc9b;
  color: black; }

h1, h2 {
  color: #883c00; }

h2 {
  font-style: italic; }

a {
  color: blue; }

#content {
  width: 980px;
  background-color: #fff;
  margin: 0 auto;
  padding: 30px; }

img {
  border: 3px solid #883c00;
  padding: 5px; }
  img.img-left {
    float: left;
    margin: 4px  19px  20px 0; }
  img.img-right {
    float: right;
    margin: 20px 0px 30px 20px; }

.brief {
  background-color: #fadcba;
  font-style: italic;
  padding: 20px;
  width: 310px;
  float: left;
  margin: 20px; }

table {
  border-collapse: collapse;
  background-color: none;
  width: 100%;
  margin: 28px 0 0 0; }
  table:first-of-type {
    margin-bottom: 75px; }
  table th {
    padding: 10px 20px;
    text-align: left;
    background-color: #e0e0e0; }
  table td {
    padding: 10px 20px;
    border-bottom: 1px solid #b4bf83; }
  table caption {
    padding: 12px 10px 10px 10px;
    text-align: right;
    font-size: 15px;
    font-weight: bold; }
