body {
  font: normal 15px/20px Georgia, "Times New Roman", Times, serif;
  background-color: #669900;
  color: #fff; }

h1, h2 {
  color: #ffca0b; }

h2 {
  font-style: normal; }

a {
  color: #ffca0b; }

#content {
  width: 980px;
  background-color: #666600;
  margin: 0 auto;
  padding: 30px; }

img {
  border: 1px solid #fff;
  padding: 10px; }
  img.img-left {
    float: left;
    margin: 4px  19px  20px 0; }
  img.img-right {
    float: right;
    margin: 20px 0px 30px 20px; }

.brief {
  background-color: #677d01;
  font-style: italic;
  padding: 20px;
  width: 96%;
  float: none;
  margin: 0; }

table {
  border-collapse: collapse;
  background-color: #667c0c;
  width: 100%;
  margin: 28px 0 0 0; }
  table:first-of-type {
    margin-bottom: 75px; }
  table th {
    padding: 10px 20px;
    text-align: left;
    background-color: #94a34e; }
  table td {
    padding: 10px 20px;
    border-bottom: 1px solid #b4bf83; }
  table caption {
    padding: 12px 10px 10px 10px;
    text-align: left;
    font-size: 15px;
    font-weight: bold; }
