body {
  font: $bodyFont;
  background-color: $bg_color;
  color: $body_color;
}
h1, h2 {
  color: $header_color;
}
h2{
  font-style: $font_style;
}
a {
  color: $link_color;
}
#content {
  width: $wrapper;
  background-color: $content_bg_color;
  margin: $center;
  padding: 30px;
}
img {
  border: $image_border;
  padding: $image_padding;


  &.img-left {
    float: left;
    margin: 4px  19px  20px 0;
  }

  &.img-right {
    float: right;
    margin: 20px 0px 30px 20px;
  }
}

.brief {
  background-color: $brief_color;
  font-style: $font_italic;
  padding: 20px;
  width: $brief_width;
  float:$brief_float;
  margin: $brief_margin;
}
table {
  border-collapse: collapse;
  background-color: $table_bg;
  width: 100%;
  margin: 28px 0 0 0;

  &:first-of-type {
      margin-bottom: 75px;
  }

  th {
    padding: 10px 20px;
    text-align: left;
    background-color: $table_th_color;
  }

  td {
    padding: 10px 20px;
    border-bottom: 1px solid #b4bf83;

  }
  caption {
    padding: 12px 10px 10px 10px;
    text-align: $text_align;
    font-size: 15px;
    font-weight: bold;
  }


}
