$bodyFont: normal 12px/18px Arial, Helvetica, sans-serif;
$body_color: black;
$header_color: #883c00;
$bg_color: #ddbc9b;
$content_bg_color: #fff;
$wrapper: 980px;
$center: 0 auto;
$image_border: 3px solid #883c00;
$image-padding: 5px;
$font_style: italic;
$font_italic: italic;
$brief_color: #fadcba;
$brief_width: 310px;
$brief_float: left;
$brief_margin: 20px;
$link_color: blue;
$text_align: right;
$table_th_color: #e0e0e0;
$table_bg: none;
