$bodyFont: normal 15px/20px Georgia, "Times New Roman", Times, serif;
$body_color: #fff;
$header_color: #ffca0b;
$bg_color: #669900;
$content_bg_color: #666600;
$wrapper: 980px;
$center: 0 auto;
$image_border: 1px solid #fff;
$image-padding: 10px;
$font_style: normal;
$font_italic: italic;
$brief_width: 96%;
$brief_float:none;
$brief_margin: 0;
$brief_color: #677d01;
$link_color: #ffca0b;
$text_align: left;
$table_th_color: #94a34e;
$table_bg: #667c0c;
