* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
  background-color: LightSeaGreen;
}

h2 {
  text-align: center;
}

.container {
  width: 70%;
  border-radius: 5px;
  margin: 50px auto 0;
  overflow: hidden;
}

.accordion {
  display: block;
  padding: 1rem 1.25rem;
  background-color: whitesmoke;
  color: black;
}

.accordion:before {
  content: '► ';
}

.accordion.active:before {
  content: '▼ ';
}

.accordion.active,
.accordion:hover {
  background-color: #333;
  color: whitesmoke;
}

.panel {
  padding: 5px;
}