body {
  font: normal 15px/20px Times, Helvetica, serif;
  color: white;
  background: #669900;
  font-size: 15px;
}

#content {
  width: 980px;
  margin: 0 auto;
  background: #666600;
  padding: 27px 30px 20px 30px;;
}

h1 {
  color: #ffcc33;
  font-style: italic;
  font-size: 33px;
  padding-bottom: 5px;
  letter-spacing: normal;
}

h2 {
  margin: 45px 0 25px 0;
  color: #ffcc33;
  font-style: italic;
  font-size: 28px;
  font-weight: 300;
}

h2:last-of-type {
  margin: 38px 0 25px 0;
}

a {
  color: #ffcc33;
}

a:hover {
  color: #cc9a03;
}

p {
  padding-right: 5px;
  margin: 10px 0;
}

img {
  display: block;
  border: 1px solid white;
  padding: 10px;
  background-color: #ffcc33;
  }

img.img-left {
  float: left;
  margin: 4px  19px  20px 0;
}

img.img-right {
  float: right;
  margin: 4px 0px 30px 20px;
}

ul {
  padding: 0px;
}

ul li {
  list-style: none;
  background: url(../img/list-item-dot-orange.png) no-repeat 0 10px;
  padding: 0 0 5px 10px;
}

ul ul {
  padding-left: 5px;
}

ul li li {
  padding: 5px 0 0 10px;
}

table {
  border-collapse: collapse;
  background-color: #667c0c;
  width: width: 100%;
  margin: 28px 0 0 0;
}

table:first-of-type {
    margin-bottom: 75px;
}

table th {
  padding: 5px 10px;
  border-bottom: 2px solid white;
  text-align: left;
}

table td {
  padding: 5px 10px;
  border-bottom: 1px solid white;
}

table caption {
  padding: 12px 10px 10px 10px;
  text-align: left; 
  font-size: 15px;
  font-weight: bold;
}

div.brief {
  background-color: #667c0c;
  padding: 20px;
  margin: 26px 0 18px 0;
  font-style: italic;
  font-size: 16px;
}