body {
  font: normal 12px/18px Arial, Helvetica, sans-serif;
  color: #333;
  background: #000;
}

#content {
  width: 960px;
  margin: 0 auto;
  background: #ffffff;
  padding: 20px 30px;
}

h1 {}

h2 {}

a {}

a:hover {}

p {}

img {
  display: block;
}

img.img-left {
  float: left;
}

img.img-right {
  float: right;
}

ul {}

ul li {
  list-style: none;
  background: url(img/list-item-dot-blue.png) no-repeat 0 7px;
  padding-left: 15px;
}

ul ul {}

ul li li {}

table {
  border-collapse: collapse;
}

table th {}

table td {}

table caption {}

div.brief {}