body {
	font: normal 12px/18px Arial, Helvetica, sans-serif;
	color: #333;
	background: #dcbc9c;
}

#content {
	letter-spacing: 0.017em;
	width: 960px;
	margin: 0 auto;
	background: #ffffff;
	padding: 40px 30px 20px 30px;
}	

h1 {
	color: #A0522D;
	font-size: 20pt;
	padding-bottom: 10px;
	letter-spacing: normal;
}

h2 { 
	margin: 24px 0px 16px 0px; 
	font-size: 16pt; 
	color: #A0522D; 
	font-weight: normal; 
	font-style: italic;
}

a {
  color: #336699;
}

a:hover {
  color: #7cb3ea;
}

p {
	letter-spacing: 0;
	margin: 10px 0;
}

img {
	display: block;
	padding: 3px;
	border: 2px solid #893c07;
}

img.img-left {
	float: left;
	margin: 4px  20px  15px 0px ;
}

img.img-right {
	float: right;
	margin: 4px 0px 20px 15px;
}

ul {
	margin-top: 0px;
	padding: 0px;
}

ul li {
	list-style: none;
	background: url(../img/list-item-dot-blue.png) no-repeat 0 7px;
	padding-left: 15px;
	padding-bottom: 5px;
}

ul ul {
	padding-left: 21px;
}

ul li li {
	background: none;
	list-style-type: circle;
	padding-left: 0px;
	padding-top: 5px;
	padding-bottom: 0px;
}

table {
	font-size: 8pt;
	border-collapse: collapse;
	margin-bottom: 3px;
}

table:first-of-type {
    margin-bottom: 55px;
} 

table th {
	text-align: left;
	background-color: #e0e0e0;
	padding: 8px 10px;
	border-right: 1px solid white;
	font-weight: 300;
}

table td {
	font: 14px;
	padding: 7px 9px 7px 11px;
	border-bottom: 1px solid #cccccc;
	}

table caption {
	text-align: right;
	padding: 30px 9px 11px 0px ;
	font: italic 14px Arial ;
}

div.brief {
	background-color: #FFDAB9;
	width: 300px;
	float: left;
	margin: 4px 20px 18px 0px;	
	padding: 11px 10px 10px 10px;
	font-style:  italic;
	line-height: 1.4;
}